{% extends 'base/base.html' %}
<head>
    <style>

    </style>
</head>
{% block title %} تغییر رمز عبور {% endblock %}
<style>
    .input{
        border-radius: 50px;
    }
</style>
{% block body %}
    <div style="width: 360px; margin: 50px auto">
    <img class="img-support" style="width: 150px;display: flex; align-items: center; margin: 30px auto;" src="/static/images/password.png">
    <h1 style="margin-bottom:30px; text-align: center">تغییر رمز عبور</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}

        <button dir="rtl" type="submit" class="btn btn-primary btn-lg btn-block", value="passwordreset" style=" display: flex; justify-content: center; align-items: center; margin-top:10px; border-radius: 10px; height: 60px; width: 400px;" >ارسال</button>
    </form>
    </div>


{% endblock %}