{% extends 'base/base.html' %}
{% block title %} | صفحه اصلی {% endblock %}
{% load jformat %} {# برای تنظیمات زمان و تاریخ شمسی #}

    <div dir="rtl" style="display: flex; flex-direction: row;">
    <div class="list-content" style="flex: 2;">
    {% block body %}
        <div style="border: 1px solid #eee; border-radius: 15px;margin: 0px 0px 10px 20px">
            {% for post in posts %}
        <div dir="rtl" style="margin: 30px;">
                <img style="width:100%; margin-bottom:20px; border-radius:15px; max-width: 100%;" src="{{ post.photo.url }}">
                <a style="display:block; font-size:24px;text-decoration: none; color: darkred" href="{{ post.get_absolute_url }}">{{ post.title }} </a><br>
                <div style="font-size:12px; margin:20px 0px; color: slategray">
                <span style="flex: 1"><img src="/static/images/writer.svg" width="35" height="35" style="margin-left: 5px;"></span>
                نویسنده:{{ post.author.first_name }} {{ post.author.last_name }}</div><br>
                {# فیلتر truncatewords:50 برای محدودیت تعداد کلمات و فیلتر linebreaks برای نمایش اینترها #}
                <div style="font-size:18px; line-height:30px; text-align: justify; margin-top: -30px;">{{ post.description | linebreaks | truncatewords:50 }}</div><br>
                <small style="font-size: 12px">تاریخ انتشار: {{ post.created | jformat:"%Y » %B" }}</small>
                <a style="text-decoration: none;" href="{{ post.get_absolute_url }}"><button style="display: block; width: 100%; border-radius: 10px; border: 1px solid #eee; font-size: 18px; margin-top: 20px; color: #000000; height: 50px;" type="button" class="btn btn-outline-primary">مطالعه مطلب</button></a>
        </div>
    {% endfor %}
        </div>

{#    with برای نسبت دادن متغییر داخل page_numbers.html به متغییر داخل ویو هست#}
    {% include "include/pagination.html" with page=page_obj %}
    </div>

    <div class="sidebar" style="flex: 1">
        {% include 'include/sidebar.html' %}
    </div>


    {% endblock %}

    {% block footer %}
        {% include 'include/footer.html' %}
    {% endblock %}